* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(./background_image.jpg);
  color: #fff;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  width: 90%;
  height: 95%;
  /* max-width: 1240px; */
  background-color: rgba(0, 0, 0, 0.31);
  padding: 1px;
  margin: auto;
  position: relative;
}

header {
  text-align: center;
}

header h1 {
  font-family: "Bowlby One SC", serif;
  letter-spacing: 1px;
}

header span {
  color: red;
}

header h3 {
  font-family: "Sorts Mill Goudy", serif;
  font-style: italic;
}

main {
  background-color: rgba(0, 0, 0, 0.804);
  width: 50%;
  margin: auto;
  height: 87%;
  font-family: "Sorts Mill Goudy", serif;
  position: absolute;
  bottom: 0;
  right: 25%;
  font-size: 0.85rem;
  /* padding: 1px; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
}

#name,
#age,
#email,
#content,
.textarea {
  width: 100%;
  padding: 5px;
  /* margin-top: 10px; */
}

textarea {
  resize: none;
  width: 100%;
}

.button {
  text-align: center;
}

.button input {
  text-align: center;
  background-color: red;
  color: white;
  border: none;
  border-radius: 15px;
  padding: 5px 35px;
}
